<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./snippets/header.ejs')  %>
    <!-- custom css -->
    <link rel="stylesheet" href="/css/register.css">
    <title>Xpresscoins | World Best Mining Company</title>
    
</head>

<body class="login-bg">
    <!-- Define context -->
    <% var context; %> 

    <div class="container mt-5">
        <div class="forms">
            <div class="form login">
                <span class="title">Reset Password</span>

                <form id="forgottern_pwd_form">
                    <div class="input-field">
                        <input type="email" placeholder="Enter your email" name="email" id="email" >
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="emailErr p-1"></div>

                    <div class="input-field button">
                        <input type="submit" value ="Reset Password">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Have account?
                        <a href="/sign-in" class="text signup-text">Sign in</a>
                    </span>
                </div>
            </div>
        </div>
        <!--  Include toast -->
        <%- include('./snippets/toast.ejs') %> 
    </div>  

    <script src="/js/jquery/jquery-2.2.4.min.js"></script>

    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>

    <!-- Active js -->
    <script src="/js/active.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 

    <script src="/scripts/forgottern_password.js"></script>


    <!-- Live chat -->
    <%- include('./snippets/live_chat.ejs') %>

    
</body>

</html>