<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./snippets/header.ejs')  %> 
    
    <!-- custom css -->
    <link rel="stylesheet" href="/css/register.css">
    
    <title>Xpresscoins | World Best Mining Company</title>

</head>

<body class="login-bg">

    <!-- Define context -->
    <% var context; %> 

    <div class="container mt-5 ms-3 me-3">
        <div class="">
            <div class="form">
                <span class="title">Reset Password</span>

                <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
                    <div class="">
                        <form id="update_password_form">
                            <div class="mb-4 mt-4">
                                <input type="hidden"
                                value="<%= context.uid %>" 
                                name="uid" 
                                class="form-control form-control-lg">
                            </div>
        
                            <div class="mb-4">
                                <input type="password" 
                                name="new_password" 
                                class="form-control form-control-lg" 
                                placeholder="Enter new password" >
                                <div class="text-danger mt-2" id="newPassErr"></div>
                            </div>
        
                            <div class="mb-4">
                                <input type="password" name="confirm_password" class="form-control form-control-lg" placeholder="Confirm new password" >
                                <div class="text-danger mt-2" id="confirmPassErr"></div>
                            </div>
                        
                            <div class="text-center mt-4 mb-3">
                            <button type="submit" class="btn btn-outline-warning btn-md">
                            Reset password
                            </button> 
                            </div>
                        </form>
                    </div>
                  </div>
    

            </div>
        </div>
        <!--  Include toast -->
        <%- include('./snippets/toast.ejs') %> 
    </div>  


    <script src="/js/jquery/jquery-2.2.4.min.js"></script>

    <!-- All Plugins js -->
    <script src="/js/plugins/plugins.js"></script>
    
    <!-- Active js -->
    <script src="/js/active.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 

    <script src="/scripts/reset_password.js"></script>


    <!-- Live chat -->
    <%- include('./snippets/live_chat.ejs') %>

</body>

</html>