<!doctype html>
<html lang="en">
  <head>
    
    <!-- Include the header -->
    <%- include('./snippets/header') %> 

    <!-- Particles cdn -->
    <!-- first include tsParticles engine -->
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-engine"></script>

    <!-- then include any tsParticles plugin needed -->
    <script src="https://cdn.jsdelivr.net/npm/tsparticles/tsparticles.bundle.min.js"></script>

    <!-- then include jquery wrapper -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-particles"></script>

    <!-- AOS cdn for box scroll effect -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <title>Xpresscoins | World Best Mining Company</title>
    

  </head>
  <body class=" navbar-nav-scroll " ></body>
    <div class="container" >
        <h1 class="h4 mb-4 text-uppercase mt-5 text-center"> Terms and Conditions</h1>

        <h6 class=" text-capitalize">
          Please Read The Following Terms And Conditions Carefully Before Registration  
        </h6>

        <div class="text-dark mb-4">
         <ol>
          <li>
            <strong>Acceptance of Terms:</strong> 
            By accessing and using the Xpresscoins Investment Platform 
            ("the Platform"), you acknowledge and agree to be bound by these Terms and Conditions. 
            If you do not agree with any part of these Terms and Conditions, you should not use the 
            Platform.
          </li>
          <li>
            <strong>Eligibility:</strong> 
            You must be at least 18 years old and have the legal 
            capacity to enter into a binding agreement to use the Platform. By using the Platform, 
            you represent and warrant that you meet these eligibility requirements.
          </li>
          <li>
            <strong>Registration and Account Security:</strong> 
            To use certain features of the Platform, you may be required to create an account. 
            You agree to provide your information during the registration process and to keep 
            your account credentials confidential. 
            You are solely responsible for any activity that occurs under your account and agree 
            to notify Xpresscoins immediately of any unauthorized use or security breach.
          </li>
          <li>
            <strong>Risk Disclosure:</strong>
             Investing in cryptocurrencies involves inherent risks, including but not limited to 
             market volatility, regulatory changes, technological risks, and potential financial loss. 
             Xpresscoins provides information and tools for investment purposes, but it does not 
             guarantee the accuracy, reliability, or suitability of such information. 
             You acknowledge and accept that all investment decisions are made at your own risk.
          </li>
          <li>
            <strong>Financial Advice Disclaimer:</strong>
             The information provided on the Platform is for informational purposes only and should 
             not be considered as financial advice. Xpresscoins does not provide financial advice, 
             and any investment decisions made based on information obtained from the Platform are 
             solely your responsibility. 
          </li>
          <li>
            <strong>Prohibited Conduct:</strong>
            You agree not to use the Platform for any unlawful or prohibited activities, 
            including but not limited to unauthorized access, or any activity that may cause 
            harm to Xpresscoins or other users. 
          </li>

          <li>
            <strong>Limitation of Liability:</strong>
            Xpresscoins shall not be liable for any direct, indirect, incidental, consequential, 
            or punitive damages arising out of or in connection with the use of the Platform. 
          </li>

          <li>
            <strong>Termination:</strong>
             Xpresscoins reserves the right to terminate or suspend your access to the Platform at 
             any time, with or without cause and without prior notice. 
             In the event of termination, these Terms and Conditions shall continue to apply 
             to any prior use of the Platform.
          </li>

          <li>
             <strong>Entire Agreement:</strong>
            These Terms and Conditions constitute the entire agreement between you and Xpresscoins 
            regarding the use of the Platform and supersede any prior agreements or understandings. <br><br>

            By using the Xpresscoins Investment Platform, you agree to abide by these Terms and 
            Conditions. It is important to review
          </li>
         </ol>
        </div>
    </div>


  
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>    
    
    <%- include('./snippets/live_chat.ejs') %>
  </body>
</html>
